{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gary for Scarborough--Rouge Park - Election Toolkit</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js" type="text/javascript"></script>
 	 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/cupertino/jquery-ui.css" type="text/css" media="all" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->

	<style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
	</style>

 	 <script type="text/javascript">

 	 	function getGeometryCoordinateBounds(geom_input) {

			var boundArray = [];  

			for (var i=0; i<geom_input.features.length; i++) {

				var coord = [geom_input.features[i].geometry.coordinates[0][1], geom_input.features[i].geometry.coordinates[0][0]];

			      boundArray.push(coord);
			}

			return boundArray;

 	 	} 

 	 	function addPostalCodeMarkers() {

 	 		postalCodeMarkers = [];
 	 		coords = getGeometryCoordinateBounds(geom);

 	 		for(var i=0; i<coords.length; i++) {

				var popupMessage = geom.features[i].properties.post_code;

 	 			postalCodeMarkers.push(L.marker(coords[i]).addTo(map).bindPopup(popupMessage));

 	 		}

 	 	}	 	

 	 </script>

</head>

<body>
    <div class="container">
		<h1>Elect Gary Campaign Toolkit</h1>

		<div class="tabbable">      
			<ul class="nav nav-tabs">
			  <li class="active" id="pane0-link">
			    <a href="#pane0" data-toggle="tab">My Curent Location</a>
			  </li>
			  <li id="pane1-link">
			    <a href="#pane1" data-toggle="tab">Search By Postal Code</a>
			  </li>
<!-- hide unfinished panes			  
			  <li id="pane2-link">
			    <a href="#pane2" data-toggle="tab">Search By Address</a>
			  </li>
			  <li id="pane3-link">
			    <a href="#pane3" data-toggle="tab">Riding Map</a>
			  </li>
-->			  
			</ul>
			<div class="tab-content">
				<div id="pane0" class="tab-pane active">
				</div>
				<div id="pane1" class="tab-pane">

					<!-- Form Name -->
					<legend>
						<h4>Enter Your Postal Code</h4>
					</legend>

					<div id="error"></div>

					<!-- Form Name -->
					<form class="form-horizontal" name="frmPostalCode" id="frmPostalCode">
						{% csrf_token %}

					    <!-- Text input-->
					    <div class="control-group">
					      <div class="controls">
					        <label class="control-label" for="postalcode">Postal Code</label>
					        <input id="postalcode" maxlength="7" name="postalcode" placeholder="e.g. M1C 0B2" class="input-small" required type="text">
					      </div>
					    </div>
					    <!-- Button -->
					    <div class="control-group">
					      <label class="control-label" for="singlebutton"></label>
					      <div class="controls">
					        <button id="button" name="button" class="btn btn-primary" data-loading-text="Loading..." type="submit">Lookup Riding</button>
					      </div>
					    </div>
					</form>

				</div>
<!-- hide unfinished panes				
				<div id="pane2" class="tab-pane">
				  <h4>Pane 2 Content</h4>
				    <p> and so on ...</p>
				</div>

				<div id="pane3" class="tab-pane">
				  <h4>Pane 3 Content</h4>
				</div>

				<div id="pane4" class="tab-pane">
				  <h4>Pane 4 Content</h4>
				</div>
-->				
			</div><!-- /.tab-content -->
		</div><!-- /.tabbable -->        
	</div><!-- /.container -->
<p id="result">
	  <div id="status"></div>
	  <div id="riding"></div>
</p>
<div id="map"></div>

	<script type="text/javascript">

		var geom = null;
		var startMarker = null;
		var postalCodeMarkers = [];

		var map = L.map('map');

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			maxZoom: 17,
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		function onLocationFound(e) {
			var radius = e.accuracy / 2;

			var popupMessage = "<p>GPS has me around here.</p><p><a id='geopointLookupLink'>Click here</a> to check if I'm in the riding</p>";

			startMarker = L.marker(e.latlng).addTo(map)
				.bindPopup(popupMessage).openPopup();

			$("#geopointLookupLink").click(function() {

				$('#status').html("Loading...");

				// send AJAX request with marker
				$.ajax({
					url : '{% url "geopoint_json" %}',
					type : "POST",
					dataType: "json",
					data : {
						geopoint : JSON.stringify(startMarker.toGeoJSON().geometry),
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},

					success : function(json) {

						if (json.in_srp) {

							startMarker.in_srp = json.in_srp;

							$('#status').html("Your GPS location is in the riding!");							

							if(json.current_riding) {

								startMarker.current_riding = json.current_riding;

								$('#riding').html("Current riding (i.e. form to use): " + json.current_riding);							
							}


						} else {

							$('#status').html("Your GPS location is not currently in the riding");

							if(json.current_riding) {

								startMarker.current_riding = json.current_riding;

								$('#riding').html("However, you can order forms in " + json.current_riding);							
							}					

						}

					},

					error : function(xhr,errmsg,err) {
						$('#error').html(xhr.status + ":<br/><br/> " + xhr.responseText);
						$('#status').html("");
					}
				});

			}); 

			L.circle(e.latlng, radius).addTo(map);
		}

		function onLocationError(e) {
			alert(e.message);
		}

		map.on('locationfound', onLocationFound);
		map.on('locationerror', onLocationError);

		map.locate({setView: true, maxZoom: 16});


		function onEachFeature(feature, layer) {

			if (feature.properties && feature.properties.post_code) {
				popupContent += feature.properties.post_code;
			}

			layer.bindPopup(popupContent);
		}

		$(document).ready(function() {

			// reset status and riding fields when new pane is clicked
			$(".tabbable ul li").click(function() {

				$('#status').html("");
				$('#riding').html("");

			});


			// on click of "My Current Location" pane
			$("#pane0-link").click(function() {
				// show current location on map
				map.panTo(startMarker._latlng);
			});


			// on click of "Search by postal code" pane
			$("#pane1-link").click(function() {
				// show postal code markers
				if (geom) {
					map.fitBounds(getGeometryCoordinateBounds(geom));
				}
			});

			

			$("#button").click(function() {

				var strPostalCode = $.trim($("#postalcode").val().replace(/\s+/g, "").toUpperCase());
				$("#postalcode").val(strPostalCode.substring(0,3) + " " + strPostalCode.substring(3,6));		

				$('#status').html("Loading ...");
				$('#riding').html("");

				$.ajax({
					url : '{% url "postal_json" %}',
					type : "POST",
					dataType: "json",
					data : {
						postalcode : strPostalCode,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},

					success : function(json) {

						if (json.in_riding) {

							if(json.srp_overlap == "Partial") {
								$('#status').html("Postal code " + json.postalcode + " is partially in the riding. Please search by address.");							
							}

							$('#status').html("Postal code " + json.postalcode + " is in the riding!");
							$('#riding').html("Current riding (i.e. form to use): " + json.riding);

						} else {

							if(json.found) {
								$('#status').html("Postal code "  + json.postalcode + " is not in the riding.");
								$('#riding').html("However, you can order forms in " + json.riding + ".");
							} else {
								$('#status').html("Postal code "  + json.postalcode + " is not in the riding (or does not exist).");
							}

						}

					},

					error : function(xhr,errmsg,err) {
						$('#error').html(xhr.status + ":<br/><br/> " + xhr.responseText);
					}
				});

				var dataurl = '{% url "postal_geojson" %}';

				// Download GeoJSON via Ajax

				$.ajax({
					url : dataurl,
					type : "POST",
					dataType: "json",
					data : {
						postalcode : strPostalCode,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},

					success : function(jsondata) {

						// Add GeoJSON layer
						geom = jsondata;

						map.fitBounds(getGeometryCoordinateBounds(geom));

						addPostalCodeMarkers();	

					},

					error : function(xhr,errmsg,err) {
						$('#error').html(xhr.status + ":<br/><br/> " + xhr.responseText);
					}
				});

				return false;
			});
		});
	</script>

</body>
</html>