<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Gary for Scarborough--Rouge Park - Election Toolkit</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div class="container">
      <h1>Elect Gary Campaign Toolkit</h1>
      <div class="tabbable">      
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#pane1" data-toggle="tab">Search By Postal Code</a>
          </li>
<!--          
          <li>
            <a href="#pane2" data-toggle="tab">Search By Address</a>
          </li>
          <li>
            <a href="#pane3" data-toggle="tab">Riding Map</a>
          </li>
-->
        </ul>
  <div class="tab-content">

    <div id="pane1" class="tab-pane active">

      <!-- Form Name -->
      <legend>
        <h4>Current and Future Riding Lookup</h4>
      </legend>

      <form class="form-horizontal" name="frmPostalCode" id="frmPostalCode">
      	{% csrf_token %}

        <!-- Text input-->
        <div class="control-group">
          <div class="controls">
            <label class="control-label" for="txtPostalCode">Postal Code</label>
            <input id="txtPostalCode" maxlength="7" name="txtPostalCode" placeholder="e.g. M1C 0B2" class="input-small" required type="text">
          </div>
        </div>
        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
            <button id="btnPostalCode" name="btnPostalCode" class="btn btn-primary" data-loading-text="Loading..." type="submit">Lookup Riding</button>
          </div>
        </div>
      </form>

      <p id="result">
        <p>
          <div id="status"></div>
          <span class="glyphicon" id="status-glyph"></span>
        </p>

        <p>
          <div id="riding"></div>
          <span class="glyphicon" id="riding-glyph"></span>
        </p>
      </p>

    </div>
<!-- Removing panes without any content in them
    <div id="pane2" class="tab-pane">
      <h4>Pane 2 Content</h4>
        <p> and so on ...</p>
    </div>

    <div id="pane3" class="tab-pane">
      <h4>Pane 3 Content</h4>
    </div>
    
    <div id="pane4" class="tab-pane">
      <h4>Pane 4 Content</h4>
    </div>
-->
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->        
</div><!-- /.container -->

<div id="map"></div>

<script type="text/javascript">

  $(document).ready(function() {

    // focus postal code textbox
    $("#txtPostalCode").focus();


    $("#btnPostalCode").click(function() {

      var strPostalCode = $.trim($("#txtPostalCode").val().replace(/\s+/g, "").toUpperCase());

      // clean up postal code, put it back in textbox and highlight it
      $("#txtPostalCode").val(strPostalCode.substring(0,3) + " " + strPostalCode.substring(3,6));
      $("#txtPostalCode").select();

      $('#status').html("Loading ...");
      $('#riding').html("");

      $.ajax({
        url : "/geo/postal-json",
        type : "POST",
        dataType: "json",
        data : {
          postalcode : strPostalCode,
          csrfmiddlewaretoken: 'sJzFwcCOFa8AbNcaEh5St4N9YwVeukpy'
        },

        success : function(json) {

          if (json.in_riding) {

            if(json.srp_overlap == "Partial") {
              $('#status').html("Postal code " + json.postalcode + " is partially in the riding. Please search by address.");             
            }

            $('#status').html("Postal code " + json.postalcode + " is in the riding!");
            $('status-glyph').addClass('glyphicon-thumbs-up');

            $('#riding').html("Current riding (i.e. form to use): <string>" + json.riding + "</strong>");

          } else {

            if(json.found) {
              $('#status-glyph').removeClass('glyphicon-thumbs-up');
              $('#status').html("Postal code "  + json.postalcode + " is not in the riding.");
              $('#riding').html("However, you can order forms in " + json.riding + ".");
            } else {
              $('#status').html("Postal code "  + json.postalcode + " is not in the riding (or does not exist).");
            }

          }

        },

        error : function(xhr,errmsg,err) {
          $('#error').html(xhr.status + ":<br/><br/> " + xhr.responseText);
        }
      });
      return false;
    });
  });
</script>

  </body>

</html>